.remark-link-card-plus__container {
  @apply mb-4;
}

.remark-link-card-plus__card {
  @apply flex h-32 overflow-hidden rounded-xl border border-slate-300 bg-white !no-underline transition-colors hover:border-slate-500 hover:bg-slate-100;
}

.remark-link-card-plus__main {
  @apply flex flex-1 flex-col pl-4;
}

.remark-link-card-plus__content {
}

.remark-link-card-plus__title {
  @apply line-clamp-2 text-base font-semibold leading-6 text-gray-900 hover:!text-gray-900;
  @apply md:line-clamp-1 md:text-lg;
}

.remark-link-card-plus__description {
  @apply line-clamp-1 text-sm text-gray-500;
}

.remark-link-card-plus__meta {
  @apply flex hidden items-center;
}

.remark-link-card-plus__favicon {
  @apply !my-0 mr-1 h-4 w-4;
}

.remark-link-card-plus__url {
  @apply text-xs text-gray-600;
}

.remark-link-card-plus__thumbnail {
  @apply h-32 w-1/3 md:max-w-64;
}

.remark-link-card-plus__image {
  @apply !my-0 h-full w-full object-cover;
}
