---
import '@/styles/globals.css';
import Layout from '@/layouts/Layout.astro';
import ButtonLink from '@/components/ButtonLink';
import siteInfo from '@/data/siteInfo';
import BlogCard from '@/components/BlogCard';
import getBlog from '@/lib/getBlog';
import IndexHero from '@/components/IndexHero/index.astro';
import IndexSection from '@/components/IndexSection/index.astro';
import IndexMember from '@/components/IndexMember/index.astro';
import member from '@/data/member';
const blogs = await getBlog();
---

<Layout>
  <IndexHero title={siteInfo.appName} />

  <IndexSection title=`About ${siteInfo.appName}`>
    <p class="text-2xl md:text-6xl text-center font-semibold md:mt-16 mb-20">
      <span class="block">We are a creative organization</span>
      <span class="block mt-4">founded by active developers!!!</span>
    </p>

    <ButtonLink href="/about"> View Details </ButtonLink>
  </IndexSection>

  <IndexSection title="Member">
    <IndexMember items={member} />

    <ButtonLink href="/member"> View More </ButtonLink>
  </IndexSection>

  <IndexSection title="Blog">
    <div class="flex flex-col gap-3">
      {
        blogs.map((blog, i) => {
          if (i >= 2) return;
          return <BlogCard blog={blog} bg="transparent" client:load />;
        })
      }
    </div>

    <ButtonLink href="/blog"> View More </ButtonLink>
  </IndexSection>
</Layout>
