---
import '@/styles/globals.css';
import Layout from '../layouts/Layout.astro';
import { Button } from '@/components/ui/button';
---

<Layout title="title">
  <main>
    <div className="class-error-test">error test</div>
    <Button>Hello World</Button>
  </main>
</Layout>
