---
import '@/styles/globals.css';
import Layout from '@/layouts/Layout.astro';
import ButtonLink from '@/components/ButtonLink';
import siteInfo from '@/data/siteInfo';
import BlogCard from '@/components/BlogCard';
import getBlog from '@/lib/getBlog';
import IndexHero from '@/components/IndexHero/index.astro';
import IndexSection from '@/components/IndexSection/index.astro';
import IndexMember from '@/components/IndexMember';
import ProductCard from '@/components/ProductCard.astro';
import product from '@/data/product';
const blogs = await getBlog();
// NOTE: 参加メンバーの多い順にソートして、最新の2件を取得
const latestProducts = product
  .sort((a, b) => (b.participants?.length || 0) - (a.participants?.length || 0))
  .slice(0, 2);
---

<Layout>
  <IndexHero title={siteInfo.appName} />

  <IndexSection title=`About ${siteInfo.appName}`>
    <p class="mb-20 text-center text-2xl font-semibold md:mt-16 md:text-6xl">
      <span class="block">We are a creative organization</span>
      <span class="mt-4 block">founded by active developers!!!</span>
    </p>

    <ButtonLink href="/about"> View Details </ButtonLink>
  </IndexSection>

  <IndexSection title="Member" className="justify-start">
    <IndexMember client:load />

    <ButtonLink href="/member"> View More </ButtonLink>
  </IndexSection>

  <IndexSection title="Product">
    <ProductCard items={latestProducts} color="white" />

    <ButtonLink href="/product"> View More </ButtonLink>
  </IndexSection>

  <IndexSection title="Blog" className="justify-start">
    <div class="flex flex-col gap-3">
      {
        blogs.map((blog, i) => {
          if (i >= 2) return;
          return <BlogCard blog={blog} color="white" client:load />;
        })
      }
    </div>

    <ButtonLink href="/blog"> View More </ButtonLink>
  </IndexSection>
</Layout>
