<section class="bg-primary p-10 flex justify-center items-center">
  <h2 class="font-bold text-white text-3xl md:text-5xl">Coming Soon</h2>
</section>

<style>
  section {
    height: 100svh;
    margin-left: calc(((100vw - 100%) / 2) * -1);
    margin-right: calc(((100vw - 100%) / 2) * -1);
    padding-left: calc((100vw - 100%) / 2);
    padding-right: calc((100vw - 100%) / 2);
  }
</style>
