---
import Social from '@/components/Social.astro';
import siteInfo from '@/data/siteInfo';

const yearStart = 2024;
const now = new Date();
const year = now.getFullYear();
---

<footer class="bg-primary text-white py-12">
  <div class="container">
    <Social />
    <p class="text-center mt-8">
      <small
        >&copy; {yearStart}{year > yearStart && ` - ${year}`}
        {siteInfo.appName}</small
      >
    </p>
  </div>
</footer>
