---
const now = new Date();
const year = now.getFullYear();
---

<footer class="bg-primary text-white py-8 mt-32">
  <div class="container">
    <p class="text-center">
      <small>&copy; 2024 - {year} Rowicy</small>
    </p>
  </div>
</footer>
