---
const yearStart = 2024;
const now = new Date();
const year = now.getFullYear();
---

<footer class="bg-primary text-white py-8">
  <div class="container">
    <p class="text-center">
      <small>&copy; {yearStart}{year > yearStart && ` - ${year}`} Rowicy</small>
    </p>
  </div>
</footer>
