---
import icon from '@/data/icon';

interface Props {
  name?: string;
}
const { name } = Astro.props;
const svg = icon.filter(
  v => v.name === name || v.name === name?.toLowerCase()
)[0];
---

{
  svg && (
    <span class="block h-6 w-6" data-icon-name={name}>
      {svg.code && <Fragment set:html={svg.code} />}
    </span>
  )
}
