---
import { Separator } from '@/components/ui/separator';
import siteInfo from '@/data/siteInfo';
import { cn } from '@/lib/utils';

interface Props {
  title: string;
  class?: string;
}

const { title, class: className } = Astro.props;
---

<section
  class={cn(
    'ts-index-section relative mx-[calc(((100vw-100%)/2)*-1)] flex min-h-[100vh] w-[100vw] flex-col justify-between px-[calc((100vw-100%)/2)] py-8 text-white',
    className
  )}
>
  <h2 class="mb-6 text-2xl text-white md:text-4xl">
    <span class="ts-index-section-title">{title}</span>
    <Separator
      className="ts-index-section-separator mt-1 bg-white bg-opacity-20 md:mt-4"
    />
  </h2>

  <div class="ts-index-section-slot">
    <slot />
  </div>

  <div
    class="ts-index-section-mask absolute left-0 top-0 -z-10 h-full w-full bg-primary"
  >
  </div>

  <p
    class="app-name mt-8 text-right text-4xl font-bold text-white md:text-8xl"
    aria-hidden="true"
  >
    {siteInfo.appName}
  </p>
</section>

<style>
  .app-name {
    animation: opacityAnimation 4s infinite;
  }

  @keyframes opacityAnimation {
    0% {
      opacity: 0.1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 0.1;
    }
  }
</style>

<script>
  import animation from './animation';
  animation();
</script>
