name: "Test"

on:
  pull_request:
    branches:
      - develop
      - main

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 8
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Check with Prettier
        run: pnpm run format:check
      - name: Check with Astro
        run: pnpm run check
      - name: Check with ls-lint
        uses: ls-lint/action@v2
        with:
          debug: true
